@import url(//fonts.googleapis.com/css?family=Roboto);
body {
  font-family: Roboto;
  font-size: 1.1rem;
  font-weight: 400;
  color: rgb(24, 24, 27);
  line-height: 1.6
}

.ez-component.right {
  margin-left: 1rem;
}